<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smartmeter</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 		<property name="show_sql">true</property>
 		
 		<mapping class="com.wcp.model.Building"/>
 		<mapping class="com.wcp.model.ComplexDeviceInstance"/>
 		<mapping class="com.wcp.model.ConsumerSegment"/>
 		<mapping class="com.wcp.model.DeviceConsumption"/>
 		<mapping class="com.wcp.model.DeviceType"/>
 		<mapping class="com.wcp.model.District"/>
 		<mapping class="com.wcp.model.Household"/>
 		<mapping class="com.wcp.model.MeterReading"/>
 		<mapping class="com.wcp.model.Module"/>
 		<mapping class="com.wcp.model.NeutralUser"/>
 		<mapping class="com.wcp.model.SimpleDeviceInstance"/>
 		<mapping class="com.wcp.model.SmartMeter"/>
 		<mapping class="com.wcp.model.User"/>
 		
 		
    </session-factory>
</hibernate-configuration>
