<div ng-controller="HomeController as hmctrl">

<div id="wrapper">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#"> Water Consumer Portal
			</a></li>
			<li>
				<button ng-click="hmctrl.logout()" class="btn btn-primary" style="width:90%">Logout</button>

			</li>
			<li><br></li>
			<li><button  class="btn btn-primary" style="width:90%"> Home</button></li>
			
			<li>
				 
			<button ng-click="hmctrl.loadMapView()" class="btn btn-primary" style="width:90%">Map</button>
			</li>

		</ul>
	</div>
	<div id="page-content-wrapper" >
		<div class="container-fluid">
			
				
										
						<div class="col-lg-8">
							<div class="media">
								<div class="media-body">
									<h4 class="media-heading">
										{{username}}
										<img src="resources/icons/individual.jpg" alt="Individual User" ng-show="individual">
									<img src="resources/icons/common.jpg" alt="Common User" ng-show="common">
									
									</h4>
									<p>
									{{houseHoldId}}
									{{smartMeterId}}
									{{buildingId}}
									{{consumptionType}}
									{{zipcode}}
									{{country}}
									</p>
									 <hr style="margin:8px auto">
								</div>
							</div>

						</div>

						

					
					
				</div>
				<ng-include src="getPartial()"></ng-include>
			
			
		</div>
	
</div>
</div>