
	<div class="generic-container" ng-controller="LoginController">
		<h1 align="center">Water Consumer Portal</h1>
		<div class="loginmodal-container">

			<form class="form-signin" ng-submit="login()" name="loginForm">
				<h3 class="form-signin-heading" align="center">Sign In</h3>
				
				<input type="text" ng-model="username" id="uname" class="username form-control input-sm" name="user" placeholder="Username"> 
				<input type="password" ng-model="password" id="password" name="pass" placeholder="Password">
				 <input type="submit" name="login" class="login loginmodal-submit" value="Login">
			</form>

			<div class="login-help">
				<a href="#">Register</a>
			</div>
		</div>
	</div>

	