<div class="generic-container"
	ng-controller="RegisterController as ctrl">

	<form class="panel-title" ng-submit="ctrl.register()"
		name="registerform">

		<div class="row centered-form">
			<div class="alert alert-danger" ng-show="message">{{error}}</div>
			<div
				class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
				<div class="panel panel-default">
					<div class="registermodal-container">
						<h3 class="panel-title">Register here</h3>
					</div>
					<div class="panel-body">



						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="first_name" id="first_name" ng-model="firstname"
										class="form-control input-sm" placeholder="First Name">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="last_name" id="last_name" ng-model="lastname"
										class="form-control input-sm" placeholder="Last Name">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="user_name" id="user_name" ng-model="username"
										class="form-control input-sm" placeholder="User Name">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="zipcode" id="zipcode" ng-model="zipcode"
										class="form-control input-sm" placeholder="ZipCode">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="hosueholdID" id="householdid" ng-model="householdid"
										class="form-control input-sm" placeholder="HouseholdID">
								</div>
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="text" name="smartmterid" id="smartmterid" ng-model="smartmeterid" ng-disabled="shouldBeDisabled"
										class="form-control input-sm" placeholder="SmartmeterID">
								</div>
							</div>
							
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email" ng-model="email"
								class="form-control input-sm" placeholder="Email Address">
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="password" name="password" id="password" ng-model="password"
										class="form-control input-sm" placeholder="Password">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input type="password" name="password_confirmation" ng-model="confirmpassword"
										id="password_confirmation" class="form-control input-sm"
										placeholder="Confirm Password">
								</div>
							</div>
						</div>

						<input type="submit" value="Register"
							class="btn btn-info btn-block">

					</div>
				</div>
			</div>

		</div>
	</form>
</div>